body {
  top: 150px;
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 150px;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  top: 150px;
  left: 0;
  padding: 10px;
}
